<ul class="icons">
    <li><a href="#" class="icon brands alt fa-apple"><span class="label">Apple</span></a></li>
    <li><a href="#" class="icon brands alt fa-bitcoin"><span class="label">Facebook</span></a></li>
    <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
    <li><a href="#" class="icon brands alt fa-wpforms"><span class="label">LinkedIn</span></a></li>
    <li><a href="#" class="icon brands alt fa-xbox"><span class="label">Facebook</span></a></li>
    <li><a href="#" class="icon brands alt fa-xing-square"><span class="label">Instagram</span></a></li>
    <li><a href="#" class="icon brands alt fa-yahoo"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-yandex"><span class="label">LinkedIn</span></a></li>
    <li><a href="#" class="icon brands alt fa-wpbeginner"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-wordpress"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-wolf-pack-battalion"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-windows"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-weebly"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-weixin"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-whatsapp"><span class="label">GitHub</span></a></li>            
    <li><a href="#" class="icon brands alt fa-vimeo"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-ubuntu"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-steam"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-spotify"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-skype"><span class="label">GitHub</span></a></li>            
    <li><a href="#" class="icon brands alt fa-skyatlas"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-sketch"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-simplybuilt"><span class="label">GitHub</span></a></li>            
    <li><a href="#" class="icon brands alt fa-shopify"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-scribd"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-rocketchat"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-rockrms"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-reddit"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-rebel"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-readme"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-raspberry-pi"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-quora"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-python"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-pushed"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-phabricator"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-periscope"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-perbyte"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-paypal"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-patreon"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-palfed"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-page4"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-nutritionix"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-npm"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-node-js"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-node"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-nimblr"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-neos"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-napster"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-microsoft"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-microblog"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-markdown"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-lyft"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-line"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-leanpub"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-kickstarter"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-keybase"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-kaggle"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-js-square"><span class="label">GitHub</span></a></li>            
    <li><a href="#" class="icon brands alt fa-java"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-itunes"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-ideal"><span class="label">GitHub</span></a></li>            
    <li><a href="#" class="icon brands alt fa-hubspot"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-html5"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-hive"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-hips"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-gratipay"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-google"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-glide"><span class="label">GitHub</span></a></li>            
    <li><a href="#" class="icon brands alt fa-git"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-flickr"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-firefox"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-fedora"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-fedex"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-facebook"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-expeditedssl"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-evernote"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-etsy"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-elementor"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-edge"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-ebay"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-dropbox"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-discord"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-discourse"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-diaspora"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-deviantart"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-codiepie"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-codepen"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-bootstrap"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-blogger"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-bluetooth"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-battle-net"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-autoprefixer"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-asymmetrik"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-artstation"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-angellist"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-airbnb"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-adversal"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon brands alt fa-accusoft"><span class="label">GitHub</span></a></li>
</ul>
