<ul class="icons">
    <li><a href="#" class="icon brands alt fa-apple"><span class="label">Apple</span></a></li>
    <li><a href="#" class="icon brands alt fa-bitcoin"><span class="label">coin</span></a></li>
    <li><a href="#" class="icon brands alt fa-github"><span class="label">pet</span></a></li>
    <li><a href="#" class="icon brands alt fa-wpforms"><span class="label">papper</span></a></li>
    <li><a href="#" class="icon brands alt fa-wolf-pack-battalion"><span class="label">tatoo</span></a></li>
    <li><a href="#" class="icon brands alt fa-weixin"><span class="label">bubble</span></a></li>
    <li><a href="#" class="icon brands alt fa-whatsapp"><span class="label">call</span></a></li>   
    <li><a href="#" class="icon brands alt fa-ubuntu"><span class="label">potal</span></a></li>                     
    <li><a href="#" class="icon brands alt fa-skyatlas"><span class="label">cloud</span></a></li>
    <li><a href="#" class="icon brands alt fa-sketch"><span class="label">jewel</span></a></li>
    <li><a href="#" class="icon brands alt fa-simplybuilt"><span class="label">video</span></a></li>  
    <li><a href="#" class="icon brands alt fa-shopify"><span class="label">shoppingbag</span></a></li>
    <li><a href="#" class="icon brands alt fa-raspberry-pi"><span class="label">raspberry</span></a></li>
    <li><a href="#" class="icon brands alt fa-itunes"><span class="label">music</span></a></li>      
    <li><a href="#" class="icon brands alt fa-hubspot"><span class="label">link</span></a></li>
    <li><a href="#" class="icon brands alt fa-fedora"><span class="label">link</span></a></li>
    <li><a href="#" class="icon brands alt fa-bluetooth"><span class="label">bluetooth</span></a></li>
    <li><a href="#" class="icon brands alt fa-rebel"><span class="label">Dungeon</span></a></li>
    <li><a href="#" class="icon brands alt fa-battle-net"><span class="label">Dungeon</span></a></li>
</ul>