<script type="text/javascript">
	window.onload = function() {
		if(sessionStorage.name){			
			document.getElementById('logInOut').innerHTML = `<a href="/user/logout">로그아웃</a>`;
		}else{                    
			document.getElementById('logInOut').innerHTML = `<a href="/web/user/login">로그인</a>`;                    
		}
	}
</script>
<!-- Header -->
<header id="header">
	<div class="inner">
	<!-- Logo -->
		<h1><a href="/" id="logo">삼 도 환 경</a></h1>
	<!-- Nav -->
		<nav id="nav">
			<ul>
				<li class="current_page_item"><a href="/">처음으로</a></li>
				<li>
					<a href="/web/plasma/list">플라즈마</a>
					<ul>
						<li><a href="/web/plasma/list">목록</a></li>
						<li><a href="/web/plasma/Add">추가</a></li>
					</ul>
				</li>
				<li>
					<a href="/web/sensor/list">센서</a>
					<ul>
						<li><a href="/web/sensor/list">목록</a></li>
						<li><a href="/web/sensor/Add">추가</a></li>
					</ul>
				</li>
				
				<li class="current_page_item"><a href="/web/sensor/log">악취현황</a></li>
				<li class="current_page_item" id="logInOut"></li>
			</ul>
		</nav>
	</div>
</header>