<style>
    body {height: 100%;}
</style>
<!DOCTYPE html>

<html lang="ko">
    <head>
        <title>SAMDO ENVIRONMENT PLASMA CONTROLER</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="/public/css/main.css" />
    </head>

    <body class="homepage is-preload">
        <div id="page-wrapper">
            <!-- Header -->
            <%- include('head') %>
            <!-- Content Wrapper -->
            <%- body %> 
            <!-- Footer -->
            <%- include('footer') %>       
        </div>

        <!-- Scripts -->     
        <%- script %>    
        <script src="/public/js/jquery.min.js"></script>
        <script src="/public/js/jquery.dropotron.min.js"></script>
        <script src="/public/js/browser.min.js"></script>
        <script src="/public/js/breakpoints.min.js"></script>
        <script src="/public/js/util.js"></script>
        <script src="/public/js/main.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                if(sessionStorage.name){
                    sessionStorage.clear();
                    document.getElementById('login').innerHTML = `<a href="/user/logout">로그아웃</a>`;
                }else{                    
                    document.getElementById('login').innerHTML = `<a href="/web/user/login">로그인</a>`;                    
                }
            });
        </script>
    </body>      
</html>


