<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>

  window.onload = function() {
    read();
  };

  let counter = 10;

  let interval = setInterval(function() {
    if(counter<10){
      counter++
      console.log(counter);
    }
    if(counter==9){
      read();
    }
  }, 200);

  const socket = io();

  socket.on('<%=PLSM_ID%>', function (data) {
    MONITER(data);
    LOG(data);
  });

  async function read() {
    await axios({      
      url: "/api/plasma/read", // 요청 주소
      method: "post", // 요청 방식
      data: {PLSM_ID:'<%= PLSM_ID %>'},
    })
    .then(function(res){
    });
  }

  async function send(address,data) {
    await axios({      
      url: "/api/plasma/modify", // 요청 주소
      method: "post", // 요청 방식
      data: {PLSM_ID:'<%= PLSM_ID %>',ADDR:address,DATA:data},
    })
    .then(function(res){
      if(res.data.result) counter = 0;
    });
  }

  async function sendtext(id,data) {
    let addr = "";
    if(id=="calendar"){  addr="6a"; data=data.slice(2)}
    else if(id=="clock"){addr="69"; }
    else if(id=="timeS"){addr="6b"; }
    else if(id=="timeE"){addr="6c"; }
    else if(id=="timeO"){addr="6d"; }
    else if(id=="timeF"){addr="6e"; }
    else if(id=="timeP"){addr="6f"; }
    send(addr,data);
  }

  function MONITER(contents){
    let HTML_Text = `<div class="row">`;

    HTML_Text += `<div class="col-6 col-12-xsmall">통신상태: ${contents.tmErr} (0:정상, >0:정보누락 갯수)</div>
    <div class="col-6 col-12-xsmall">에러정보: ${contents.error}</div>`;

    let actMode = ["button alt","button alt","button alt"];
    if(contents.actMode == 2){actMode[0]="button icon solid fa-check-circle";}
    else if(contents.actMode == 3){actMode[1]="button icon solid fa-check-circle";}
    else if(contents.actMode == 4){actMode[2]="button icon solid fa-check-circle";}

    HTML_Text += `<div class="col-3 col-12-xsmall">동작 모드</div>`
    HTML_Text += `<div class="col-3 col-12-xsmall"><span class="${actMode[0]}" onclick="send('65','Auto')"> 자 동 </span></div>`
    HTML_Text += `<div class="col-3 col-12-xsmall"><span class="${actMode[1]}" onclick="send('65','Timer')">스 케 쥴</span></div>`
    HTML_Text += `<div class="col-3 col-12-xsmall"><span class="${actMode[2]}" onclick="send('65','Manual')"> 수 동 </span></div>`

    let actStat = ["button alt","button alt","button alt"];
    if(contents.actStat == 1){actStat[0]="button icon solid fa-arrow-circle";}
    else if(contents.actStat == 2){actStat[1]="button icon solid fa-arrow-circle";}
    else if(contents.actStat == 4){actStat[2]="button icon solid fa-arrow-circle";}
    HTML_Text += `<div class="col-3 col-12-xsmall">동작 상태</div>`
    HTML_Text += `<div class="col-3 col-12-xsmall"><span class="${actStat[0]}">플라즈마</span></div>`
    HTML_Text += `<div class="col-3 col-12-xsmall"><span class="${actStat[1]}">급 기 팬</span></div>`
    HTML_Text += `<div class="col-3 col-12-xsmall"><span class="${actStat[2]}">물 펌 프</span></div>`
      
    HTML_Text += `<div class="col-3 col-12-xsmall">장비시계:</div>`
    HTML_Text += `<div class="col-3 col-12-xsmall"><h1 id="calendar"><span onclick="MONITER_Modify('calendar')">${contents.day[0]}년 ${contents.day[1]}월 ${contents.day[2]}일</span></h1></div>`
    HTML_Text += `<div class="col-6 col-12-xsmall"><h1 id="clock"><span onclick="MONITER_Modify('clock')">${contents.time[0]}시 ${contents.time[1]}분 ${contents.time[2]}초</span></h1></div>`

    HTML_Text += `<div class="col-3 col-12-xsmall">시작시간:</div>`
    HTML_Text += `<div class="col-3 col-12-xsmall"><h1 id="timeS"><span onclick="MONITER_Modify('timeS')">${contents.tmOn[0]}시 ${contents.tmOn[1]}분 ${contents.tmOn[2]}초</span></h1></div>`
    HTML_Text += `<div class="col-3 col-12-xsmall">종료시간:</div>`
    HTML_Text += `<div class="col-3 col-12-xsmall"><h1 id="timeE"><span onclick="MONITER_Modify('timeE')">${contents.tmOff[0]}시 ${contents.tmOff[1]}분 ${contents.tmOff[2]}초</span></h1></div>`

    HTML_Text += `<div class="col-3 col-12-xsmall">반복시간(켜짐):</div>`
    HTML_Text += `<div class="col-3 col-12-xsmall"><h1 id="timeO"><span onclick="MONITER_Modify('timeO')">${contents.rpOn} 분</span></h1></div>`
    HTML_Text += `<div class="col-3 col-12-xsmall">반복시간(꺼짐):</div>`
    HTML_Text += `<div class="col-3 col-12-xsmall"><h1 id="timeF"><span onclick="MONITER_Modify('timeF')">${contents.rpOff} 분</span></h1></div>`

    HTML_Text += `<div class="col-3 col-12-xsmall">펌프시간:</div>`
    HTML_Text += `<div class="col-3 col-12-xsmall"><h1 id="timeP"><span onclick="MONITER_Modify('timeP')">${contents.pump} 초</span></h1></div>`
    
    let fan = ["button alt","button alt"];
    if(contents.fan==0){ fan[1] = "button icon solid fa-check-circle"; }
    else{ fan[0] = "button icon solid fa-check-circle"; }
    HTML_Text += `<div class="col-3 col-12-xsmall">팬 설정:</div>`    
    HTML_Text += `<div class="col-3 col-12-xsmall">
                  <div class="${fan[0]}" onclick="send('70','Auto')">자동</div>
                  <div class="${fan[1]}" onclick="send('70','On')">켜짐</div></div>`

    HTML_Text += "</div>";
    document.getElementById("moniter").innerHTML = HTML_Text;
  }

  function MONITER_Modify(id){
    let HTML_Text = "";
    if(id == "calendar"){
      HTML_Text = `<input type='date' id="modify_${id}"> <span class="button icon solid fa-check-circle" onclick="sendtext('${id}',document.getElementById('modify_${id}').value.replaceAll('-', ':'))">변경</span>`;
    }else if(id == "clock" || id == "timeS" || id == "timeE"){
      HTML_Text = `<input type='time' id="modify_${id}"> <span class="button icon solid fa-check-circle" onclick="sendtext('${id}',document.getElementById('modify_${id}').value +':00')">변경</span>`;
    }else{
      HTML_Text = `<input type='number' min="0" id="modify_${id}"> <span class="button icon solid fa-check-circle" onclick="sendtext('${id}',document.getElementById('modify_${id}').value)">변경</span>`;
    }
    document.getElementById(id).innerHTML = HTML_Text;
  }

  function LOG(contents){
    let HTML_Text = document.getElementById("log").innerHTML;
    HTML_Text += `<div>통신누락: ${contents.tmErr}, 동작 모드: ${contents.actMode}, 
    동작상태: ${contents.actStat}, 에러정보: ${contents.error},
    현재시간: ${contents.time[0]}시 ${contents.time[1]}분 ${contents.time[2]}초, 
    현재날짜: ${contents.day[0]}년 ${contents.day[1]}월 ${contents.day[2]}일,
    시작시간: ${contents.tmOn[0]}시 ${contents.tmOn[1]}분 ${contents.tmOn[2]}초, 
    종료시간: ${contents.tmOff[0]}시 ${contents.tmOff[1]}분 ${contents.tmOff[2]}초,
    켜짐시간: ${contents.rpOn}, 꺼짐시간: ${contents.rpOff},
    펌프시간: ${contents.pump}, 팬 설정: ${contents.fan}</div>`;
    document.getElementById("log").innerHTML = HTML_Text;
  }
</script>

<div class="wrapper style1">
  <h2> [ <%= PLSM_ID %> ]</h2>
  <div id="moniter"></div>
</div>
<div class="wrapper style2">
  <div id="log">
    <div>Data Log</div><hr>
  </div>
</div>