<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>

  window.onload = function() {
    read();
  };

  let counter = 10;

  let interval = setInterval(function() {
    if(counter<10){
      counter++
      console.log(counter);
    }
    if(counter==9){
      read();
    }
  }, 200);

  async function read() {
    await axios({      
      url: "/api/reducer/read", // 요청 주소
      method: "post", // 요청 방식
      data: {REDUC_ID:'<%= REDUC_ID %>'},
    })
    .then(function(res){
      if(res.data.result){
        MONITER(res.data.data);
      }
    });
  }

  async function send(address,data) {
    await axios({      
      url: "/api/reducer/modify", // 요청 주소
      method: "post", // 요청 방식
      data: {REDUC_ID:'<%= REDUC_ID %>',ADDR:address,DATA:data},
    })
    .then(function(res){
      if(res.data.data.success) counter = 0;
    });
  }

  async function sendtext(id,data) {
    let addr = "";
    if(id=="calendar"){  addr="106"; data=data.slice(2)}
    else if(id=="clock"){addr="105"; }
    else if(id=="timeS"){addr="107"; }
    else if(id=="timeE"){addr="108"; }
    else if(id=="timeO"){addr="109"; }
    else if(id=="timeF"){addr="110"; }
    else if(id=="timeP"){addr="111"; }
    //send(addr,data);
  }

  function MONITER(contents){
    let HTML_Text = `<div class="row">`;
    let actMode = ["button alt","button alt","button alt"];
    if(contents.actMode == 1){actMode[0]="button icon solid fa-check-circle";}
    else if(contents.actMode == 2){actMode[1]="button icon solid fa-check-circle";}
    else if(contents.actMode == 3){actMode[2]="button icon solid fa-check-circle";}

    HTML_Text += `<div class="col-3 col-12-xsmall">동작 모드</div>`;
    HTML_Text += `<div class="col-3 col-12-xsmall"><span class="${actMode[0]}" onclick="send('101','Stop')"> 정 지 </span></div>`;
    HTML_Text += `<div class="col-3 col-12-xsmall"><span class="${actMode[1]}" onclick="send('101','Manual')"> 수 동</span></div>`;
    HTML_Text += `<div class="col-3 col-12-xsmall"><span class="${actMode[2]}" onclick="send('101','Auto')"> 자 동 </span></div>`;

    let actStat = ["button alt","button alt","button alt"];
    if(contents.actStat == 1){actStat[0]="button icon solid fa-arrow-circle";}
    else if(contents.actStat == 2){actStat[1]="button icon solid fa-arrow-circle";}
    else if(contents.actMode == 3){actStat[0]="button icon solid fa-check-circle";actStat[1]="button icon solid fa-check-circle";}
    else if(contents.actStat == 4){actStat[2]="button icon solid fa-arrow-circle";}

    HTML_Text += `<div class="col-3 col-12-xsmall">생성부 반복시간(켜짐):</div>`;
    HTML_Text += `<div class="col-3 col-12-xsmall"><h1 id="timeO_G"><span onclick="MONITER_Modify('timeO')">${contents.G_rpOn} 초</span></h1></div>`;
    HTML_Text += `<div class="col-3 col-12-xsmall">생성부 반복시간(꺼짐):</div>`;
    HTML_Text += `<div class="col-3 col-12-xsmall"><h1 id="timeF_G"><span onclick="MONITER_Modify('timeF')">${contents.G_rpOff} 초</span></h1></div>`;

    HTML_Text += `<div class="col-3 col-12-xsmall">필터부 반복시간(켜짐):</div>`;
    HTML_Text += `<div class="col-3 col-12-xsmall"><h1 id="timeO_F"><span onclick="MONITER_Modify('timeO')">${contents.F_rpOn} 초</span></h1></div>`;
    HTML_Text += `<div class="col-3 col-12-xsmall">필터부 반복시간(꺼짐):</div>`;
    HTML_Text += `<div class="col-3 col-12-xsmall"><h1 id="timeF_F"><span onclick="MONITER_Modify('timeF')">${contents.F_rpOff} 초</span></h1></div>`;

    HTML_Text += `<div class="col-3 col-12-xsmall">생성부 펌프시간:</div>`;
    HTML_Text += `<div class="col-3 col-12-xsmall"><h1 id="timeP_G"><span onclick="MONITER_Modify('timeP')">${contents.G_pump} 초</span></h1></div>`;
    HTML_Text += `<div class="col-3 col-12-xsmall">필터부 펌프시간:</div>`;
    HTML_Text += `<div class="col-3 col-12-xsmall"><h1 id="timeP_F"><span onclick="MONITER_Modify('timeP')">${contents.F_pump} 초</span></h1></div>`;
    HTML_Text += `<div class="col-3 col-12-xsmall">교반 펌프시간:</div>`;
    HTML_Text += `<div class="col-3 col-12-xsmall"><h1 id="timeP_M"><span onclick="MONITER_Modify('timeP')">${contents.M_pump} 초</span></h1></div>`;
    HTML_Text += `<div class="col-3 col-12-xsmall">분사 펌프시간:</div>`;
    HTML_Text += `<div class="col-3 col-12-xsmall"><h1 id="timeP_S"><span onclick="MONITER_Modify('timeP')">${contents.S_pump} 초</span></h1></div>`;
    
    HTML_Text += `<div class="col-3 col-12-xsmall">흡기팬 속도(평상시)</div>`;
    HTML_Text += `<div class="col-3 col-12-xsmall"><h1 id="timeP"><span onclick="MONITER_Modify('timeP')">${contents.i_fan}</span></h1></div>`;
    HTML_Text += `<div class="col-3 col-12-xsmall">흡기팬 속도(회수시)</div>`;
    HTML_Text += `<div class="col-3 col-12-xsmall"><h1 id="timeP"><span onclick="MONITER_Modify('timeP')">${contents.I_fan}</span></h1></div>`;
    HTML_Text += `<div class="col-3 col-12-xsmall">회수팬 속도(회수시)</div>`;
    HTML_Text += `<div class="col-3 col-12-xsmall"><h1 id="timeP"><span onclick="MONITER_Modify('timeP')">${contents.O_fan}</span></h1></div>`;
    
    HTML_Text += `<div class="col-3 col-12-xsmall">팬 가동:</div>`;
    HTML_Text += `<div class="col-3 col-12-xsmall">`;
    if(contents.fanStat==1){HTML_Text += `<div class="button icon solid fa-check-circle" onclick="send('112','test')">흡기팬 가동</div>`;}
    else{HTML_Text += `<div class="button icon solid fa-check-circle" onclick="send('112','test')">회수팬 가동</div>`;}
    HTML_Text +=`</div>`;

    HTML_Text += `<div class="col-3 col-12-xsmall">현재 흡기팬 속도</div>`
    HTML_Text += `<div class="col-3 col-12-xsmall"><h1 id="timeP"><span onclick="MONITER_Modify('timeP')">${contents.i_fan_v}</span></h1></div>`
    HTML_Text += `<div class="col-3 col-12-xsmall">현재 회수팬 속도</div>`
    HTML_Text += `<div class="col-3 col-12-xsmall"><h1 id="timeP"><span onclick="MONITER_Modify('timeP')">${contents.I_fan_v}</span></h1></div>`
    

    HTML_Text += "</div>";
    document.getElementById("moniter").innerHTML = HTML_Text;
  }

  function MONITER_Modify(id){
    let HTML_Text = "";
    if(id == "calendar"){
      HTML_Text = `<input type='date' id="modify_${id}"> <span class="button icon solid fa-check-circle" onclick="sendtext('${id}',document.getElementById('modify_${id}').value.replaceAll('-', ':'))">변경</span>`;
    }else if(id == "clock" || id == "timeS" || id == "timeE"){
      HTML_Text = `<input type='time' id="modify_${id}"> <span class="button icon solid fa-check-circle" onclick="sendtext('${id}',document.getElementById('modify_${id}').value +':00')">변경</span>`;
    }else{
      HTML_Text = `<input type='number' min="0" id="modify_${id}"> <span class="button icon solid fa-check-circle" onclick="sendtext('${id}',document.getElementById('modify_${id}').value)">변경</span>`;
    }
    document.getElementById(id).innerHTML = HTML_Text;
  }
</script>

<div class="wrapper style1">
  <h2> [ <%= REDUC_ID %> ]</h2>
  <div id="moniter"></div>
</div>