<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
</script>

<div class="wrapper style1">
  <h2> [ <%= SENSOR_ID %> ]</h2>
  <div id="moniter"></div>
</div>